
*wake-mx2*
*wide-mx2*

*.bak
*-bak
*.buildv*

.DS_Store

/desktop.ini

/bin/assets
/bin/*/assets
/bin/*/wide.state.json
/bin/*/wide*

/devtools/*
!/devtools/.gitignore

*.products/

/releases/*

/docs/docs.html
/docs/newdocs.html
/docs/modules.html
/docs/manuals.html
/docs/modules/

__PAGES__/
__MANPAGES__/
__NEWPAGES__/
/tmp/*
!/tmp/.gitignore

/modules/module-manager/downloads/*.zip

# Stuff in module manager (TODO: install to different modules dir)
/modules/html-ws
/modules/tinyaes
/modules/portmidi
/modules/png2polygon
/modules/timelinefx
/modules/box2d
/modules/box2dxt
/modules/steamworks

/modules/module-manager/backups

/modules/mojo3d-physics/tests/assets/E1M1_clean.obj

.com.apple.timemachine.supported

.mx2
.wx

Wonkey (*)*