<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>wide</string>
	<key>CFBundleIconFile</key>
	<string>wide_logo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key> <true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wx</string>
				<string>monkey2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Wonkey Source Code</string>
			<key>CFBundleTypeIconFile</key>
			<string>wide_logo</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wxproject</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Wonkey Project</string>
			<key>CFBundleTypeIconFile</key>
			<string>wide_logo</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
