/*	
	This stylesheet changes wonkeydocs from default white to dark blue with yellow links
	To make docss use white theme, rename or delete this stylesheet.
	To chnange docs theme, change the colors below.
	If you find something that needs adding, add it to the correct color group, sperating with a commma
 */


/* main background color */
body{
	background-color: #123;
}
/* text color */
body,pre,code{
	color: #fff;
}
/* link color */
a , a:hover, a:visited , a:active {
	color: #ec0;
}
/* table header and <pre> background */
pre,th ,code{
	background: #456;
}

tr:nth-child(even){
	background: #182838;
}

tr:nth-child(odd){
	background: #1e2e3e;
}
